.row > div > img {
  width: 100%;
  display: block;
}

.imageWrapper {
  border: 2px solid black;
  align-content: center;
  margin: 20px auto;
  padding: 10px;
  width: 30%;
  height: 30%;
  display: block;
}

.buttonWrapper {
  margin-top: 30px;
  display: block;
  text-align: center;
}
